body {
	background-color: rgba(59, 109, 227, .1);
	font-family: "Myriad Pro";
}

#main_div {
	background-color: #ffffff;
	margin-top: 80px;
	padding: 10px;
	width: 500px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #585858;
	clear: both;
}

.sub_div {
	padding: 5px;
	text-align: left;
	margin: 10px;
	width: 200px;
	height: 80px;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	box-shadow: 0px 0px 15px #585858;
}
a {
	text-decoration: none;
}
h3 { 
	margin:0 0 20px 0; 
}
h5 {
	margin:0;
}
ul {
	margin: 3px 0 0 0;
	font-size: 13px;
}