{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block extra_header %}
<style>
td { padding-right: 10px; }

#main_div { 
	width: 500px; 
	height: 400px;
}

.sub_div {
	width:200px;
	height: 130px;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	box-shadow: 0px 0px 15px #585858;
	display: inline-block;
	text-align: left;
	padding: 7px;
	margin-bottom: 20px;
}

</style>
{% endblock %}

{% block body %}
	<center>
		<div id="main_div">
			<h3>Dashboard</h3>
			<table>
				<tr>
					<td>
					<div class="sub_div">
						<h5>Stock Management</h5>
						<ul>
							<li><a href="{{ stock_overview }}">Overview</a></li>
							<li><a href="{{ product_search }}">Product Lookup</a></li>
							<li><a href="{{ customer_search }}">Customer Lookup</a></li>
							<li><a href="{{ service_product_overview }}">Service Products</a></li>
						</ul>
					</div>
					</td>

					<td>
					<div class="sub_div">
						<h5>Employee Management</h5>
						<ul>
							<li><a href="{{ add_employee }}">Add Employee</a></li>
							<li><a href="{{ employee_details }}">Employee Details</a></li>
							<li><a href="{{ search_employees }}">Employee Lookup</a></li>
							<li><a href="{{ add_contact }}">Add Contact Information</a></li>
						</ul>
					</div>
					</td>
				</tr>

				<tr>
					<td>
					<div class="sub_div">
						<h5>Transactions</h5>
						<ul>
							<li><a href="{{ transaction_overview }}">Transactions Overview</a></li>
							<li><a href="{{ sales_overview }}">Sales Overview</a></li>
							<li><a href="{{ receipt_search }}">Look Up Receipt</a></li>
							<li><a href="{{ pos_view }}">POS</a></li>
						</ul>
					</div>
					</td>

					<td>
					<div class="sub_div">
						<h5>Manage Store</h5>
						<ul>
							<li><a href="{{ manager_overview }}">Managers</a></li>
							<li><a href="{{ add_shift }}">Add Shift</a></li>
							<li><a href="{{ view_schedule }}">View Schedule</a></li>
							<li><a href="{{ add_customer }}">Add Customer</a></li>
						</ul>
					</div>
					</td>
				</tr>
			</table>
		</div>
	</center>
{% endblock %}