{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block extra_header %}
<style>
td { padding-right: 10px; }

#main_div { 
	width: 500px; 
	height: 430px;
}

.sub_div {
	width:200px;
	height: 100px;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	box-shadow: 0px 0px 15px #585858;
	display: inline-block;
	text-align: left;
	padding: 7px;
}

</style>
{% endblock %}

{% block body %}
	<center>
		<div id="main_div">
			<h3>Dashboard</h3>
			<table>
				<tr>
					<td>
					<div class="sub_div">
						<h5>Stock Management</h5>
						<ul>
							<li><a href="{{ stock_overview }}">Overview</a></li>
							<li><a href="{{ product_search }}">Product Lookup</a></li>
						</ul>
					</div>
					</td>

					<td>
					<div class="sub_div">
						<h5>Employee Management</h5>
						<ul>
							<li><a href="{{ add_employee }}">Add Employee</a></li>
							<li><a href="{{ employee_details }}">Employee Details</a></li>
							<li><a href="{{ search_employees }}">Employee Lookup</a></li>
						</ul>
					</div>
					</td>
				</tr>

				<tr>
					<td>
					<div class="sub_div">
						<h5>Transactions</h5>
						<ul>
							<li><a href="/transactions">Transactions Overview</a></li>
							<li><a href="/transactions/sales">Sales Overview</a></li>
							<li><a href="/transactions/search">Look Up Receipt</a></li>
						</ul>
					</div>
					</td>

					<td>
					<div class="sub_div">
						<h5>Products and Customers</h5>
						<ul>
							<li><a href="/customers/search">Customer Lookup</a></li>
							<li><a href="/customers/product_search">Find Products</a></li>
							<li><a href="/customers/service_products">Service Products</a></li>
						</ul>
					</div>
					</td>
				</tr>

				<tr>
					<td>
					<div class="sub_div">
						<h5>Scheduling</h5>
						<ul>
							<li><a href="/scheduling/add">Add Shift</a></li>
							<li><a href="/scheduling/view">View Schedule</a></li>
						</ul>
					</div>
					</td>

					<td>
					<div class="sub_div">
						<h5>Manage Store</h5>
						<ul>
							<li><a href="/store/managers">Managers</a></li>
						</ul>
					</div>
					</td>
				</tr>
			</table>
		</div>
	</center>
{% endblock %}